<template>     
    <div class="card">
        <header class="card-header">
            <div class="article_heading_wrapper course-header-title">
                <h1 class="title is-size-1-desktop"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg> <br>
                   Training
                </h1>
                <a href="/modules" class="is-size-7 subtitle course_subheading">
                    <strong>View All Courses > </strong>
                </a>
            </div>
        </header>
        <div class="card-content course_border courselist__content" v-for="(item, index) in items.courses" v-bind:key="index" :class="item.classes">
            <a :href="'course/' + item.slug">
                <h4 class="title is-4 has-text-white">
                    {{ item.title }}
                </h4>
                <div class="content has-text-white">
                    {{ item.subtitle }}
                </div>
            </a>
            <div class="courselist__accent">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"><text data-name="&gt;" transform="matrix(.924 0 0 .924 -3.229 30)" font-size="55" fill="rgb(154,154,154)" stroke="rgb(154,154,154)" stroke-width="2">&gt;</text></svg>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['courses', 'courselistdebug'],
        data() {
            return {
                items: []
            };
        },
        beforeMount: function () {
            if (typeof this.courses != 'undefined') {
                this.items = this.courses;
            } else {
                this.items = [];
            }
            if (this.courselistdebug) {
                console.log(this.courses, this.items);
            }
        },
    }
</script>