<template>
  <div>
    <hero :hero="this.items.hero" v-if="this.items.hero.active == 'true' || this.items.hero.active == true"></hero>
  </div>
</template>

<script>
    import Hero from '../../../../packages/skeleton/js/components/HeroComponent.vue';

    export default {
        props: ['data', 'coursespagedebug'],
        components: { Hero },
        data() {
            return {
                items: []
            };
        },
        mounted() {
            console.log('Courses Component mounted.')
        },
        beforeMount: function () {
            if (this.data) {
                this.items = this.data;
            } else {
                this.items = [];
            }
            if (this.coursespagedebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>