<template>
  <div class="tree-menu">
    <div class="label-wrapper" @click="toggleChildren">
      <div :style="indent" :class="labelClasses">
        <i v-if="nodes" class="fa" :class="iconClasses"></i>
        <a v-if="typeof identifier !== 'undefined'" :href="'module/' + identifier">{{ label }}</a>
        <span v-else>{{ label }}</span>
      </div>
    </div>
    <course-filter
        v-if="showChildren"
        v-for="(node, index) in this.nodes"
        v-bind:key="index"
        :nodes="node.subcategory" 
        :label="node.title"
        :identifier="node.id"
        :depth="depth + 1"
    >
    </course-filter>
  </div>
</template>

<script>
    export default {
        props: ['label', 'nodes', 'depth', 'identifier', 'filterdebug'],
        name: 'course-filter',
        data() {
            return {
                showChildren: false,
                items: []
            };
        },
        mounted() {
            console.log('Filter Component mounted.')
        },
        methods: {
            toggleChildren() {
                this.showChildren = !this.showChildren;
            }
        },
        computed: {
            iconClasses() {
                return {
                    'fa-plus-square-o': !this.showChildren,
                    'fa-minus-square-o': this.showChildren
                }
            },
            labelClasses() {
                return { 'has-children': this.nodes }
            },
            indent() {
                return { transform: `translate(${this.depth * 10}px)` }
            }
        },
        beforeMount: function () {
            if (typeof this.filterdata !== 'undefined') {
                this.items = this.filterdata;
            } else {
                this.items = [];
            }
            if (this.filterdebug) {
                console.log(this.filterdata, this.items);
            }
        },
    }
</script>
