<template>
    <div>
        <hero :hero="items.hero" v-if="items.hero.active == 'true' || items.hero.active == true" :settings="this.settings"></hero>
        <form method="POST" action="/course/submission">
            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" name="course" :value="items.course.title">
            <input type="hidden" name="code" :value="items.course.code">
            <section class="section">
                <div class="container">
                    <div class="columns is-mobile">
                        <div class="column is-hidden-mobile is-one-quarter-tablet">
                            <div class="box">
                                <static-menu :data="menu"></static-menu>
                            </div>
                        </div>
                        <div class="column">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="media">
                                                    <div class="media-content">
                                                        <div class="columns is-mobile">
                                                            <div class="column is-2">
                                                                <figure class="image is-48x48">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.7 73.7">
                                                                        <path :class="module" fill="#009fe3" d="M58.9 0H0v73.7h73.7V14.6z"/>
                                                                        <path d="M25.7 50.6h8.4V28.9l.1-2.6h-.1s-.4.9-1.7 2.2l-3.1 3-4.2-4.4 9.8-9.4h6.5v32.9h8.4v6.1h-24v-6.1z" fill="#fff"/>
                                                                    </svg>
                                                                </figure>
                                                            </div>
                                                            <div class="column is-10">
                                                                <p class="title is-4">Course Information</p>
                                                            </div>
                                                        </div>
                                                        <figure class="image">
                                                            <img :src="items.course.image != null ? items.course.image : '/storage/placeholders/placeholder.jpg'" alt="Placeholder image">
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="content">
                                                    <p class="title is-4">{{ items.course.title }}</p>
                                                    <p class="title is-2">£{{ items.course.price }}</p>
                                                    <p>{{ items.course.subtitle }}</p>
                                                    <div class="box" v-if="items.course.registration_fee != null">
                                                        <p>Registration Fee</p>
                                                        <p class="title is-6">£{{ items.course.registration_fee }}</p>
                                                    </div>
                                                    <div class="box" v-if="items.course.duration != null">
                                                        <p>Duration</p>
                                                        <p class="title is-6">{{ items.course.duration }} days</p>
                                                    </div>
                                                    <div class="box" v-if="items.course.assessment_method != null">
                                                        <p>Assessment Method</p>
                                                        <p class="title is-6">{{ items.course.assessment_method }}</p>
                                                    </div>
                                                    <div class="box" v-if="items.course.minimum_requirements != null">
                                                        <p>Minimum Requirements</p>
                                                        <p class="title is-6">{{ items.course.minimum_requirements }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="is-12" :class="{ wrapper: wrapper }">
                                        <div class="content column" v-html="items.course.description"></div>
                                        <button v-if="wrapper" @click.prevent.stop="wrapper = !wrapper" class="show"><strong>View more information</strong></button>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.7 73.7">
                                                        <path :class="module" fill="#009fe3" d="M58.9 0H0v73.7h73.7V14.6z"/>
                                                        <path d="M42.8 28.7c0-3.1-2.3-5.1-5.7-5.1-3.1 0-5.1 1.6-5.1 3.1v1.7h-6.5v-3.8c0-5.2 6.8-7.5 11.9-7.5 6.8 0 12.6 4.3 12.6 11.5 0 13.2-18.9 14-18.9 21.1 0 .7.4 1 1.5 1H44c.8 0 1.2-.4 1.2-1.2V47h6.5v6c0 2.6-1.1 3.7-3.7 3.7H27.8c-3.4 0-4-1.5-4-5.2 0-14.1 19-13.3 19-22.8z" fill="#fff"/>
                                                    </svg>
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Number of Attendees</p>
                                                <p class="subtitle is-6">Bookings for more than 5 people we class as a group booking and therefore we will need to discuss your requirements</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <b-field>
                                                <b-input name="attendees" placeholder="Number"
                                                    type="number"
                                                    min="1"
                                                    max="5">
                                                </b-input>
                                            </b-field>
                                            <div class="field">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="group">
                                                    Group Booking? Tick to request a callback.
                                                </label>
                                            </div>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.7 73.7">
                                                        <path :class="module" fill="#009fe3" d="M58.9 0H0v73.7h73.7V14.6z"/>
                                                        <path d="M27 46.5s3.8 4.2 9.6 4.2c3.8 0 6.7-2.4 6.7-5.8 0-3.5-3.2-5.7-7.4-5.7h-2.8l-1.4-3.6 6.6-8.9c1.3-2 2.6-3 2.6-3v-.1s-1.2.2-3.5.2h-4.9c-.8 0-1.2.4-1.2 1.2v2.4h-6.5v-5.9c0-2.6.8-3.7 3.4-3.7h21.2v4.5l-9 11.2c5.3.8 10.1 4.8 10.1 11.4 0 6.5-5.1 12.6-13.9 12.6-8.5 0-13.3-5.5-13.3-5.5l3.7-5.5z" fill="#fff"/>
                                                    </svg>
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Choose a date</p>
                                                <p class="subtitle is-6" v-if="events.length">Require a different date? Please contact us on 0800 652 1124</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <b-field v-if="events.length">
                                                <b-select name="requested_date" placeholder="Select a date">
                                                    <option
                                                        v-for="(event, index) in events"
                                                        :value="event.date"
                                                        :key="index">
                                                        {{ event.date }}
                                                    </option>
                                                </b-select>
                                            </b-field>
                                            <p v-else>We offer this course based upon demand so please continue to populate and submit the form and we will get in touch with you to discuss your requirements.</p>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.7 73.7">
                                                        <path :class="module" fill="#009fe3" d="M58.9 0H0v73.7h73.7V14.6z"/>
                                                        <path d="M21.7 42.3l16.2-24.6h8.5v23.1h6v6.1h-6v9.8h-7.2v-9.8H21.7v-4.6zm17.5-12.4c0-1.9.3-4.2.3-4.2h-.1s-1.1 2.1-2.1 3.5l-6.1 9c-1 1.5-2 2.6-2 2.6v.1s1.6-.2 3.4-.2h6.6V29.9z" fill="#fff"/>
                                                    </svg>
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Enter your details</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="field">
                                                <label class="label">Name</label>
                                                <div class="control">
                                                    <input class="input" :value="old.name" name="name" type="text" placeholder="Your full name">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Company Name</label>
                                                <div class="control">
                                                    <input class="input" :value="old.company" name="company" type="text" placeholder="Your company name">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Address 1</label>
                                                <div class="control">
                                                    <input class="input" :value="old.address1" name="address1" type="text" placeholder="House Name/ Number">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Address 2</label>
                                                <div class="control">
                                                    <input class="input" :value="old.address2" name="address2" type="text" placeholder="e.g. Street Name">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Address 3</label>
                                                <div class="control">
                                                    <input class="input" :value="old.address3" name="address3" type="text" placeholder="e.g. Town/ City">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Postcode</label>
                                                <div class="control">
                                                    <input class="input" :value="old.postcode" name="postcode" type="text" placeholder="Your postcode">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Phone</label>
                                                <div class="control">
                                                    <input class="input" :value="old.phone" name="phone" type="text" placeholder="Your phone number" required>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label">Email</label>
                                                <div class="control">
                                                    <input class="input" :value="old.email" name="email" type="email" placeholder="Your email address" required>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control">
                                                    <label class="checkbox">
                                                    <input type="checkbox" name="accounts">
                                                    My Accounts Department will be paying for my course
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control">
                                                    <label class="checkbox">
                                                    <input type="checkbox" name="accept" required>
                                                    I agree to the Electrical Safety UK terms and conditions of booking
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control">
                                                    <label class="checkbox">
                                                    <input type="checkbox" name="newsletter">
                                                    Please subscribe me to the Electrical Safety UK Ltd. newsletter to receive information about upcoming courses
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.7 73.7">
                                                        <path :class="module" fill="#009fe3" d="M58.9 0H0v73.7h73.7V14.6z"/>
                                                        <path d="M26.9 46.5s3.4 4.1 9.1 4.1c4.3 0 7.1-2.9 7.1-6.5 0-4.3-4-6.7-8.4-6.7-4.3 0-7.4 1.8-7.4 1.8L24.8 38l1.4-16.6c.2-2.6 1.1-3.7 3.7-3.7h14.4c2.6 0 3.7 1.2 3.7 3.7v5.9h-6.5V25c0-.8-.4-1.2-1.2-1.2h-6.4c-.8 0-1.2.4-1.2 1.2l-.5 5.4a14 14 0 0 1-.3 1.8h.1s1.8-.7 4.1-.7c9 0 14.3 5.7 14.3 12.8 0 6.8-5.3 13.1-14.5 13.1-8.2 0-12.7-5.4-12.7-5.4l3.7-5.5z" fill="#fff"/>
                                                        </svg>
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Book your course</p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <button type="submit" class="button is-info is-large">Book your course</button>
                                        </div>
                                    </div>                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</template>

<script>
    import Hero from '../../../../packages/skeleton/js/components/HeroComponent.vue';
    import StaticMenu from './StaticMenuComponent.vue';
    import Moment from 'moment';
    const thisMonth = new Date().getMonth()
    export default {
        props: ['data', 'coursepagedebug', 'menu', 'module', 'old', 'settings'],
        components: { StaticMenu, Hero },
        computed: {
            indicators() {
                return this.bars = 'bars';
            }
        },
        data() {
            return {
                date: new Date(2018, thisMonth, 1),
                wrapper: true,
                events: [],
                items: [],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            };
        },
        beforeMount: function () {
            var now = new Date();
            if (typeof this.data.course.dates != 'undefined') {
                let dates = JSON.parse(this.data.course.dates);
                let temp = [];
                dates.forEach(function(obj) {
                    let date = Moment(obj).format('MMMM Do YYYY');
                    if (new Date(obj) >= now) {
                        temp.push({ date: date,  type: 'is-primary' })
                    }
                });
                this.events = temp;
            }
            if (this.data) {
                this.items = this.data;
            } else {
                this.items = [];
            }
            if (this.coursepagedebug) {
                console.log(this.data, this.items);
            }
        }
    }
</script>

<style>
.show {
    align-items: center;
    background-color: rgba(245,245,245,.7);
    border: none;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    font-size: .75rem;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.wrapper {
    position: relative;
    height: 2em;
    overflow: hidden;
}
</style>
