<template>
  <div>
    <hero :hero="this.items.hero" v-if="this.items.hero.active == 'true' || this.items.hero.active == true"></hero>
    <section class="section">
        <div class="container">
            <div class="field">
                <input type="text" class="input" v-model="search" placeholder="Start typing the title of a course..."/>
            </div>
            <div class="columns is-mobile">
                <div class="column is-hidden-mobile is-one-quarter-tablet">
                    <div class="box">
                        <static-menu :data="items"></static-menu>
                    </div>
                </div>
                <div class="column">
                    <div class="columns is-multiline">
                        <div v-for="(item, index) in filteredList" v-bind:key="index" class="column is-half">
                            <div class="card">
                                <div class="card-content course_card_content">
                                    <div class="media">
                                        <div class="media-content">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path :class="module" fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg>
                                            <a :href="'/course/' + item.slug">
                                                <p class="title is-4">{{ item.title }}</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        {{ item.description }}
                                    </div>
                                    <div class="columns availspace">
                                        <div class="column course__accent flexit centerit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"><text data-name=">" transform="matrix(.924 0 0 .924 -3.229 30)" font-size="55" fill="rgb(154,154,154)" stroke="rgb(154,154,154)" stroke-width="2">&gt;</text></svg>
                                            <a :href="'/course/' + item.slug" class="title is-6 has-text-info">Book your course</a>
                                        </div>
                                         <div class="column">
                                            <p class="title is-4">£{{ item.price }} + VAT</p>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
</template>

<script>
    import Hero from '../../../../packages/skeleton/js/components/HeroComponent.vue';
    import StaticMenu from './StaticMenuComponent.vue';
    export default {
        props: ['data', 'modulepagedebug', 'module'],
        components: { StaticMenu, Hero },
        data() {
            return {
                search: '',
                items: []
            };
        },
        computed: {
            filteredList() {
                console.log('ITEMS', this.items.courses);
                return this.items.courses.filter(item => {
                    return item.title.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        },
        mounted() {
            console.log('Module Component mounted.')
        },
        beforeMount: function () {
            if (this.data !== 'undefined') {
                this.items = this.data;
            } else {
                this.items = [];
            }
            if (this.modulepagedebug) {
                console.log(this.data, this.items);
            }
            console.log('MODULE', this.module);
        },
    }
</script>
