<template>
  <div>
    <section class="section">
        <article class="message">
            <div class="message-header">
                <p>Modules</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch
                        v-model="items.modules.active"
                        true-value=true
                        false-value=false>
                    </b-switch>
                </div>
                <div class="field">
                    <label for="action" class="label">
                        Module Page Heading
                    </label> 
                    <div class="control">
                        <input id="action" class="input" v-model="items.modules.heading">
                    </div>
                </div>
                <div class="field">
                    <label for="action" class="label">
                        Module Page Heading
                    </label> 
                    <div class="control">
                        <textarea class="textarea" type="text" placeholder="Text describing the modules you offer" v-model="items.modules.text"></textarea>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="section">
        <button class="button is-medium" @click="store">
            Save Module Page Settings
        </button>
    </section>
  </div>
</template>

<script>
    export default {
        props: ['data', 'modulebuilderdebug'],
        data() {
            return {
                items: []
            };
        },
        methods: {
            store (page) {
                this.$http.put(
                    '/admin/modules/builder/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    throw error
                });
            }
        },
        mounted() {
            console.log('Module Builder Component mounted.')
        },
        beforeMount: function () {
            if (typeof this.data !== 'undefined') {
                this.items = this.data;
            } else {
                this.items = {"modules":{"active":false,"classes":[],"subheading":"","text":"","heading":""}};
            }
            if (this.modulebuilderdebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>
