<template>
  <div>
    <hero :hero="this.items.hero" v-if="this.items.hero.active == 'true' || this.items.hero.active == true"></hero>
    <section class="section">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-hidden-mobile is-one-quarter-tablet">
                    <div class="box">
                        <static-menu :data="items"></static-menu>
                    </div>
                </div>
                <div class="column">
                    <div class="columns is-multiline">
                        <div v-for="(item, index) in this.items.modules" v-bind:key="index" class="column is-half">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <a :href="'/module/' + item.id">
                                            <img :src="item.image" alt="Placeholder image">
                                        </a>
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a :href="'/module/' + item.id"><p class="title is-4">{{ item.title }}</p></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
</template>

<script>
    import Hero from '../../../../packages/skeleton/js/components/HeroComponent.vue';
    import StaticMenu from './StaticMenuComponent.vue';
    export default {
        props: ['data', 'modulepagedebug'],
        components: { StaticMenu, Hero },
        data() {
            return {
                items: []
            };
        },
        beforeMount: function () {
            if (this.data !== 'undefined') {
                this.items = this.data;
            } else {
                this.items = [];
            }
            if (this.modulepagedebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>
