<template>
  <div>
    <div class="column" v-for="(item, index) in items.modules" v-bind:key="index">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path :class="item.slug" fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg>
      <br>
      <header>
        <a class="title is-6" :href="'/module/' + item.id">
          {{ item.title }}
        </a>
        <a class="bd-category-toggle" @click="toggleMenu(item.id)">
          <span class="icon">
            <svg class="svg-inline--fa fa-chevron-down fa-w-14" style="color: #b5b5b5;width: .875em;display: inline-block;font-size: inherit; height: 1em;overflow: visible; vertical-align: -.125em;" aria-hidden="true" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg><!-- <i class="fas fa-chevron-down"></i> -->
          </span>
        </a>
      </header>
      <div v-show="item.active" class="column" v-for="(course, index) in item.courses" v-bind:key="index">
        <a class="has-text-black" :href="'/course/' + course.slug">{{ course.title }}</a>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props: ['data'],
        data() {
            return {
                items: []
            };
        },
        methods: {
            toggleMenu(id) {
              this.items.modules[id].active = !this.items.modules[id].active;
            }
        },
        beforeMount: function () {
            if (this.data !== 'undefined') {
                this.items = this.data;
            } else {
                this.items = [];
            }
        }
    }
</script>
